#page-footer a{
  color:#fff;
}

.sortable-placeholder { 
  background-color: bisque;
}

.aspect_display{
  display: inline-block;
}


/* messing with the theme. */
@import  url('https://fonts.googleapis.com/css?family=Abel');

/* include the jquery UI theme css here, since that will want to change depending on the rest of the theme. */
@import  url('https://code.jquery.com/ui/1.12.1/themes/dark-hive/jquery-ui.css');

html { 

}

body{ 
	background: url('/img/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  background-color: #444;
  color:#8BFBFF;
	font-family: 'Abel', sans-serif;
	font-size: 1.5em;
}

a {
	color:#63FF8F;
}

.navbar{
	background-color:#444;
	border: 1px solid #A5FFFF;;
}

.navbar-brand a{
	color: #8BFBFF;
}

.panel {
	background-color:#444;
	border:  1px solid #A5FFFF;;
	color:#8BFBFF;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(165, 255, 255, .3);
	-moz-box-shadow: 0px 0px 5px 2px rgba(165, 255, 255, .3);
	box-shadow: 0px 0px 5px 2px rgba(165, 255, 255, .3);
}

.panel-body{
	background: url('/img/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.panel-heading, .panel-default > .panel-heading{
	background-color:#444;
	border:1px solid #A5FFFF;;
	color:#8BFBFF;
	opacity: 0.5;
}

input[type="text"], textarea, button, .btn, select {
  background-color : #444; 
  border: 1px solid #A5FFFF;;
  color: #8BFBFF;
}

input[type="option"]{
	background-color:#000;
	color:#8BFBFF;
}

input[type="checkbox"]{
    background-color: #000;
	color: #666;
}

legend{
	color: #8BFBFF;
}



#page-footer{
  width:100%; 
  background-color:#666; 
  color:#fff; 
  bottom: 0; 
  padding: 1em; 
  position: relative;
}