/* CSS Document */

/* Basic themeing */
@import
	url(https://fonts.googleapis.com/css?family=Oswald:400,700|Hind:400,500)
	;

body {
	font-family: 'Hind', sans-serif;
	background-color: #131321;
	color: #ECEBF0;
}

.logo {
	font-family: 'Oswald', sans-serif;
	color: #C1CE96;
	font-size: 3em;
}

.logo a {
	color: #C1CE96;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	color: #C1CE96;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

p {
	
}

button {
	color: #353129;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #48495C;
}

legend {
	font-family: 'Oswald', sans-serif;
	color: #C1CE96;
}

.aspect_label {
	font-family: 'Oswald', sans-serif;
	color: #C1CE96;
}

#feedback {
	
}

#selectable .ui-selecting {
	background: #FECA40;
}

#selectable .ui-selected {
	background: #F39814;
	color: white;
}

#selectable {
	list-style-type: none;
	margin: 3px;
	padding: 2px;
}

#selectable li {
	margin: 3px;
	padding: 2px;
}

#sortable1, #sortable2 {
	border: 1px solid #eee;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
}

.feedEkList {
	width: 100%;
	list-style: none outside none;
	background-color: #FFFFFF;
	border: 1px solid #D3CAD7;
	padding: 4px 6px;
	color: #3E3E3E;
}

.feedEkList li {
	border-bottom: 1px solid #D3CAD7;
	padding: 5px;
}

.feedEkList li:last-child {
	border-bottom: none;
}

.itemTitle a {
	font-weight: bold;
	color: #4EBAFF !important;
	text-decoration: none
}

.itemTitle a:hover {
	text-decoration: underline
}

.itemDate {
	font-size: 11px;
	color: #AAAAAA;
}

.news_feed {
	border: 1px solid #D3CAD7;
	margin-bottom: 5px;
	padding: 5px;
}

.news_feed ul li {
	list-style: none outside none;
}

.panel-body {
	background-color: #444;
}